html,
body {
    height: 100%;
}

.nav-link{
    font-family: 'Blair';
    font-size: 12px;
    color:  #000;
    font-weight: bold;
}

.nav-link:hover{
    color: #b4292a !important;
}

.nav-link.active{
    color: #b4292a !important;
}

#w2{
    display: flex;
    flex-flow: row-reverse;
    justify-items: center;
}

/*.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}*/

/*.wrap > .container {
    padding: 70px 15px 20px;
}*/

.footer {
    /*max-height: 400px;
    min-height: 100px;*/
    /*height: 350px;*/
    background: url("../images/fondo_footer.png") no-repeat top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100% ;
    border-top: 0.5px solid #fff;
    /*margin-top: 30px;*/
    color: #fff;
    padding-top: 5%;
}


.footer-sitemap{
    font-family: Blair;
}

.footer-sitemap p{
    line-height: 1;
    font-weight: bold;
    font-size: 0.77vw;
}

.footer-sitemap p a{
    color: #FFF;
}

.footer .social-media img{
    margin-right: 10px;
}

.footer-social-media{
    font-family: Poppins;
    font-weight: bold;
    font-size: 1vw;
}


.footer-email{
    font-family: Poppins;
    font-weight: normal;
    font-size: ;
    font-weight: bold;
    font-size: 1vw;
    color: #FFF;
    padding-top: 25px;
}

.footer-email a{
    color: #FFF;
    font-weight: normal;
}

.footer-email a:hover{
    color: #FFF;
}

.footer-location{
    font-family: Poppins;
    font-weight: normal;
    margin-top: 45px;
    font-size: 1vw;
    color: #FFF;
}

.footer-legals{
    font-family: Poppins;
    font-weight: normal;
    font-size: 0.7vw;
    text-align: center;
    padding-top: 30px;
    padding-bottom:  15px;
}

@media only screen and (max-width: 991px){
    .footer{
        min-height: 350px;
    }

    .footer-sitemap p{
        font-size: 1vw;
    }

    .footer-social-media, .footer-email, .footer-location{
        font-size: 1.5vw;   
    }

    .footer-legals{
        margin-top: 30px;
        font-size: 1vw;
    }
}

@media only screen and (max-width: 767px){
    .footer{
        max-height: 450px;
    }

    .footer-sitemap p{
        font-size: 2.8vw;
        padding-top: 10px;
    }

    .footer-social-media, .footer-email, .footer-location{
        font-size: 2.8vw;
        padding-top: 0; 
    }

    .footer-location{
        text-align: center;
    }

    .footer-legals{
        margin-top: 0px;
        font-size: 1.8vw;
    }
}

/*.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links 
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}



a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}*/

/*align the logout "link" (button in form) of the navbar
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}*/

.monster-banner{
    /*margin-top: 110px;*/
    background: url("../images/bg-banner.png") no-repeat fixed top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 900px;
    width: 100% ;
    position: relative;
}

@media only screen and (max-width: 576px){
    .monster-banner{
        display: block;
        height: 55vh;
    }

    .overlay-normal-text>svg{
        width: 30px;
        height: 30px;
        margin-left: 0%;
    }

    .overlay-small-text>svg{
        width: 30px;
        height: 30px;
        margin-left: 0%;
    }

    .arrow-as>svg{
        width: 30px;
        height: 30px;
        margin-left: 0%;   
    }
}

.selector-menu{
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #FFF;
    max-width: 1000px;
}

.selector-content{
    margin-top: 0%; 
    padding: 0;
    display: flex;
    justify-content: center;
}

.column-1{
    padding: 0;
    margin: 0;
}

.column-2{
    padding: 0;
    margin: 0;
}

.normal{
    position: relative;
    margin: 10px;
}

.normal img{
    display: block;
    width: 100%;
    height: auto;
    max-height: 689px;
    min-height: 258px;
}

.small{
    position: relative;
    margin: 10px 10px 0 0;
}

.small img{
    display: block;
    width: 100%;
    height: auto;
}

.column-1-content{
    position: relative;
}

.column-1-content:hover .overlay-normal{
    width: 96%;
}

.column-2-content{
    position: relative;
}

.column-2-content:hover .overlay-small{
    width: 98%;   
}


.overlay-normal{
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 0;
    top: 0;
    background-color: #000;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
    opacity: 0.9;
}

.overlay-normal-text{
    position: absolute;
    display: block;
    /*word-break:break-all;*/
    width: 95%;
    top: 20%;
    left: 5%;
    font-size: 5vw;
    font-family: Blair;
    font-weight: bold;
    line-height: 1.15;
    color: #FFF;
}

.overlay-small{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
    opacity: 0.9;
}

.overlay-small-text{
    position: absolute;
    display: block;
    /*word-break:break-all;*/
    width: 95%;
    top: 20%;
    left: 4%;
    font-family: Blair;
    font-weight: bold;
    line-height: 1.17;
    font-size: 3.85vw;
    color: #FFF;
}

.overlay-small-subtext{
    font-size: 1.7vw;
}

.text-asesoria{
    top:10%;
}

@media only screen and (max-width: 1200px){
    .overlay-normal-text{
        font-size: 10vw;
    }

    .overlay-small-text{
        font-size: 5.5vw;   
    }

    .text-asesoria{
        font-size: 6vw;  
        top: 15%; 
    }
    .text-negocios{
        font-size: 3vw;      
    }
}


/** Toolbar **/
@media only screen and (min-width: 1300px){
    .toolbar{
        display: block;
    }

    .toolbar-dark{
        display: none;
    }
}

@media only screen and (max-width: 1300px){
    .toolbar{
        display: none;
    }

    .toolbar-dark{
        display: block;
        background: #FFF;
    }
}

.toolbar{
    position: fixed;
    top: 35%;
    right: 5px;
    width: 47px;
    transform: translateY(0);
    transition: all .5s;
    z-index: 1;
}

.toolbar-item{
    margin: 5px 5px;
    align-content: center;
    text-align: center;
}

.toolbar-dark{
    position: fixed;
    top: 35%;
    right: 5px;
    width: 47px;
    transform: translateY(0);
    transition: all .5s;
    border-radius: 5px;
    z-index: 1;
}

.toolbar-item-dark{
    margin: 5px 5px;
    align-content: center;
    text-align: center;
}

/** Toolbar **/


/*** Educación ***/
.educacion{
    margin-top: 45px !important;
    background: url("../images/educacion_text_v2.png") no-repeat top;
    background-position: top left;
    height: auto;
    min-height: 980px;
    width: 100% ;
    position: relative;
    /*overflow: hidden;*/
}

@media only screen and (max-width: 767px){
    .educacion{
        background: inherit;
        min-height: 680px;
    }
}

.educacion-t{
    margin-top: 10%;
    font-family: Poppins;
    font-weight:  lighter;
    text-align: center;
    font-size: 2rem;
}

@media only screen and (max-width: 950px){
    .educacion-t{
        font-size: 1.4rem;
    }
}


/*** Educación ***/

/**** Slider Products ****/
.slider-content{
    margin-top: 180px;
    /*border: 1px solid green;*/
    bottom:0px;
    position: relative;
    /*min-height: 700px;*/
    height: auto;
}

@media only screen and (max-width: 760px){
    .slider-content{
        margin-top: 30px;
    }
}


.slider-item-title{
    font-family: Blair;
    font-weight: lighter;
    font-size: 17pt;
    min-height: 100px;
}
@media only screen and (max-width: 523px){
    .slider-item-title{
        margin-top: 50px;
        font-size: 4vw;
        min-height: 100px;
    }
}

.slick-slide {
    margin: 0 12px;
}

.slick-list {
    margin: 0 -12px;
}

.slick-prev, .slick-next {
    position: absolute;
    display: block;
    height: 40px;
    width: 40px;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    background:transparent;
    color: transparent;
    top: 50%;
    margin-top: -10px;
    padding-bottom:0;
    border: none;
    outline: none;
}

.slick-next{
    right: -40px;
    z-index: 2;
    background-image: url(../images/arrow-prev.svg);
}
.slick-prev{
    left: -40px;
    z-index: 2;
    background-image: url(../images/arrow-next.svg);
}

.btn-slide-item{
    background-color: #ebebeb;
    color: #000;
    text-transform: uppercase;
    border-radius: 5px;
    margin-top: 10px;
    padding: 0;
}

.btn-slide-item:hover{
    background-color: #072879;
    color: #FFF;
    text-transform: uppercase;
}
.btn-slide-item:focus{
    box-shadow: none;
}

.btn-slide-item-top{
    background-color: #ebebeb;
    color: #000;
    text-transform: uppercase;
    border-radius: 5px;
    margin-top: 0;
    padding: 0;
}

.btn-slide-item-top:hover{
    background-color: #072879;
    color: #FFF;
    text-transform: uppercase;
}
.btn-slide-item-top:focus{
    box-shadow: none;
}
/*** Slider Products ***/


/**** Modal Fancybox ****/
.fancybox-close-small{
    background-color: #072879;
    color: white;
    width: 35px;
    height: 35px;
    padding: 0;
    font-size: 0.5vw;
}

.modal-title{
    color: #072879;
    font-size: 2vw;
    text-transform: uppercase;
    font-family: Blair;
    font-weight:  bold;
    /*letter-spacing: 0.5;*/
}

.modal-type{
    color: #072879;
    font-size: 1.1vw;
    text-transform: uppercase;
    font-family: Blair;
    font-weight:  bold;
}

.modal-subtitle{
    font-size: 1vw;
}

.modal-video{
    margin-top: 10px;
}

.modal-basic-instructor-name{
    font-size: 1vw;
    font-family: Poppins;
    margin-top: 5%;
    padding-left: 0;
}

.modal-basic-instructor-name-title{
    font-weight: bold;
    text-transform: uppercase;
}

.modal-details{
    font-size: 0.9vw;
    margin-top: 5%;   
}

.modal-details-item-img{
    /*padding: 0;*/
    text-align: center;
}

.modal-details-item-title{
    padding-left: 0;
    font-size: 1vw;
    font-weight: bold;
    text-transform: uppercase;
}

.modal-details-item-detail{
    font-size: 0.85vw;
    margin-bottom: 15px;
}

.btn-modal{
    background-color: #ebebeb;
    color: #000;
    text-transform: uppercase;
    border-radius: 5px;
    font-size: 0.78vw;
    font-weight: normal;
    padding: 0;
}

.btn-modal:hover{
    background-color: #072879;
    color: #FFF;
    text-transform: uppercase;
}

.btn-modal:focus{
    box-shadow: none;
}


#modal-instructor{
    background-color: #000;
    color: #FFF;
}

.modal-instructor-head, .modal-instructor-detail, .modal-instructor-share{
    font-size: 1.1vw;
    font-family: Poppins;
    padding-left: 0;
}

.modal-instructor-title{
    color: #072879;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 10%;
}

.modal-instructor-detail, .modal-instructor-share{
    margin-top: 8%;
}

.modal-instructor-detail-text{
    margin-top: 3%;  
    font-size: 0.87vw;
    text-align: justify;
}

.modal-instructor-share-icons{
    padding-left: 15px;
}

.modal-instructor-detail-title, .modal-instructor-share-title{
    font-weight: bold;
    text-transform: uppercase;
}

.modal-instructor-gallery{
    padding: 0 0 15px 0;
}

@media only screen and (max-width: 767px){
    .modal-basic-instructor{
        margin-top: 15px;
    }

    .modal-title{
        font-size: 5vw;
    }

    .modal-type{
        font-size: 3vw;
    }

    .modal-basic-instructor-name, .modal-details, .modal-subtitle, .modal-details-item-title, .modal-instructor-detail-title, .modal-instructor-share-title{
        font-size: 4vw;   
    }

    .modal-details-item-detail, .btn-modal, .modal-instructor-detail-text{
        font-size: 3.5vw;      
    }

    .modal-instructor-head{
        font-size: 5vw;
    }

    .modal-instructor-gallery{
        margin-top: 15px;
    }

}
/**** Modal Fancybox ****/


/**** Products section ***/
.products{
    position  : relative;
    margin-top: 35px;
    max-width: 1320px;
}



.products-text-wrap{
    margin-top: 15%;
}

.products-items-wrap{
    margin-top: 5%;
    /*margin-left: 8%;*/
}

.products-items{
    background-color: #ececec;
    border-left: 15px solid #FFF;
    border-bottom: 15px solid #FFF;
    /*min-height: 360px;*/
}

.product-detail{
    height: 360px;
}


.products-text{
    padding-top: 25px;
    border-top: 2px solid #530972;
    font-family: Poppins;
    font-size: 1.1rem;
    line-height: 1.7;
}

.products-text-list{
    padding-top: 25px;
    font-family: Poppins;
    font-size: 1.1rem;
    line-height: 1.8;   
}

.products-text-list ul{
    list-style: none;
}

.products-text-list ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #530972; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}




@media only screen and (max-width: 767px){
    .products-items-wrap{
        margin-left: 0;
    }

    .products-items{
        border: 0;
        margin: 15px;

    }
}

/**** Products section ***/

/**************** Login Section *************/
.site-login-wrap{
    background: url("../images/fondo_formulario01.png") no-repeat top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100% ;
}

.site-login-container{
    height: 100vh;
    font-family: Poppins;
    color: #FFF;
}

.justify-content-center{
    width: 100%;
}

#login-form input{
    background-color: inherit;
    border-radius: 15px;
    height: 3.5em;
    color: #FFF;
}

#login-form input::placeholder{
    color: #FFF;
}

#login-form .btn{
    font-weight: bold;
    text-transform: uppercase;
    font-family: Blair;
}
/**************** Login Section *************/

/**************** Signup Section *************/
.site-signup-wrap{
    background: url("../images/fondo_registro01.png") no-repeat top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100% ;
}

.site-signup-container{
    height: 100vh;
    font-family: Poppins;
    color: #FFF;
}

#form-signup input{
    background-color: inherit;
    border-radius: 15px;
    height: 3.5em;
    color: #FFF;
}

#form-signup input::placeholder{
    color: #FFF;
}

#form-signup .btn{
    font-weight: bold;
    text-transform: uppercase;
    font-family: Blair;
}

#form-signup .invalid-feedback{
    color: #FFF;
}
/**************** Signup Section *************/


/*

    Styles for animated modal
    =========================

    */

    /* Start state */
    /*.animated-modal {
        border-radius: 4px;
        overflow: hidden;
        background: linear-gradient(45deg, #543093 32%, #d960ae 100%);

        transform: translateY(-80px);
        transition: all .5s; // Should match `data-animation-duration` parameter 
    }

    .animated-modal * {
        color: #fff;
    }

    .animated-modal h2,
    .animated-modal p {
        transform: translateY(-40px);
        opacity: 0;

        transition-property: transform, opacity;
        transition-duration: .3s;
    }

    // Final state 
    .fancybox-slide--current .animated-modal,
    .fancybox-slide--current .animated-modal h2,
    .fancybox-slide--current .animated-modal p {
        transform: translateY(0);
        opacity: 1;

        transition-duration: .3s;
    }

    // Reveal content with different delays 
    .fancybox-slide--current .animated-modal h2 {
        transition-delay: .1s;
    }

    .fancybox-slide--current .animated-modal p {
        transition-delay: .4s;
    }

    .fancybox-slide--current .animated-modal p:first-of-type {
        transition-delay: .2s;
    }*/

